.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 40px;
  padding: 15px;
  list-style: none;
}

.nav-links li {
  list-style: none;
}

.cart-count {
  color: #ffffff;
  background-color: red;
  padding: 0 5px;
  box-shadow: 0 0 6px 3px rgb(238, 237, 237);
  border-radius: 50%;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* For mobile view */
@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .nav-links.open {
    display: flex;
    padding: 25px;
    border-radius: 5px;
  }
  .nav-links li:hover{
    color: rgb(201, 11, 11);
  }

  .menu-icon {
    display: block;
    padding: 5px 8px;
    border-radius: 50%;
  }

  .menu-icon:hover{
    background-color: rgb(230, 229, 229);
    
  }
  .cart-count {
    font-size: 14px;
  }
}

/* For medium devices like tablets */
@media screen and (max-width: 1024px) {
  .head {
    gap: 50px;
  }

  .nav-links {
    gap: 20px;
  }

  .cart-count {
    font-size: 16px;
  }
}

/* For larger screens like laptops */
@media screen and (min-width: 1025px) {
  .head {
    gap: 900px;
  }

  .nav-links {
    gap: 40px;
  }

  .cart-count {
    font-size: 18px;
  }
}
